<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Founders Ventures</title>

    <link rel="stylesheet" type="text/css" href="/static/home.css">
    <link rel="stylesheet" href="/static/kendo/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="/static/kendo/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="/static/kendo/styles/kendo.material.mobile.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/static/kendo/js/kendo.all.min.js"></script>
    <script src="/static/home.js"></script>
  </head>
  <body>
    <h1>Current Startups:</h1>
    <table id="startupsGrid"></table>
  </body>
</html>
